<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QAManagementEntities" connectionString="metadata=res://*/QAManagementModel.csdl|res://*/QAManagementModel.ssdl|res://*/QAManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\sqlexpress;Initial Catalog=QAManagement;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QAManagement.Data.Properties.Settings.QAManagementConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=QAManagement;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>